@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary and Surface Palettes */
:root {
  outline: none !important;
  --p-primary-50: var(--p-surface-50);
  --p-primary-100: var(--p-surface-100);
  --p-primary-200: var(--p-surface-200);
  --p-primary-300: var(--p-surface-300);
  --p-primary-400: var(--p-surface-400);
  --p-primary-500: var(--p-surface-500);
  --p-primary-600: var(--p-surface-600);
  --p-primary-700: var(--p-surface-700);
  --p-primary-800: var(--p-surface-800);
  --p-primary-900: var(--p-surface-900);
  --p-primary-950: var(--p-surface-950);
  --p-surface-0: #ffffff;
  --p-surface-50: #f8fafc;
  --p-surface-100: #f1f5f9;
  --p-surface-200: #e2e8f0;
  --p-surface-300: #cbd5e1;
  --p-surface-400: #94a3b8;
  --p-surface-500: #64748b;
  --p-surface-600: #475569;
  --p-surface-700: #334155;
  --p-surface-800: #1e293b;
  --p-surface-900: #0f172a;
  --p-surface-950: #020617;
  --p-content-border-radius: 6px;
}

/* Light Mode */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
* Dark Mode
* Change the .p-dark to match the darkMode in tailwind.config.
* For example; 
*  darkMode: ['selector', '[class*="app-dark"]'] 
*  should match;
* :root.app-dark
*/
:root.p-dark {
  --p-primary-color: var(--p-primary-400);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);
  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
  --p-highlight-color: rgba(255,255,255,.87);
  --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
  --p-highlight-focus-color: rgba(255,255,255,.87);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}

.focus\:ring-surface-500:focus{
  --tw-ring-opacity: 0 !important;
}

#editorContainer #toolbar{
  display: flex;
}

.prose iframe, .ql-editor iframe{
  @apply w-full aspect-video;
}

/* Imagenes en editor de entrada */
.ql-snow .ql-editor img {
  max-width: 90% !important;
}

#opciones-nav{
  .active{
    @apply font-bold;
  }
}

.caja-input{
  @apply leading-none m-0 py-2 px-3 rounded-md text-surface-800 dark:text-white/80 placeholder:text-surface-400 dark:placeholder:text-surface-500 bg-surface-0 dark:bg-surface-950 border border-surface-300 dark:border-surface-700 invalid:focus:ring-red-200 invalid:hover:border-red-500 hover:border-surface-400 dark:hover:border-surface-600 focus:outline-none focus:outline-offset-0 focus:ring-1 focus:ring-primary-500 dark:focus:ring-primary-400 focus:z-10 appearance-none transition-colors duration-200;
}

form label{
  @apply font-mono;
}
.ql-editor {
  @apply prose prose prose-headings:my-1 leading-normal max-w-none;
  overflow: none;
}
.mention{
  @apply text-sm text-gray-500 bg-gray-100 p-0.5;
}
.ql-mention-list-container{
  @apply bg-white p-1 border border-solid border-zinc-100;
  .ql-mention-list-item {
    @apply p-1 cursor-pointer hover:bg-gray-100;
    &.selected{
      @apply bg-gray-100;
    }
  }
}
.ql-container {
  max-width: unset;
  font-family: unset !important;
  border-top: none !important;
  overflow-y: auto;
}
.comment-input{
  .ql-container{
    overflow: visible;
  }
}

.despues-entrada > .actions{
  @apply flex flex-row items-center justify-start;  
}

.despues-entrada > .actions > button:first-child{
  @apply pl-0;
}
.panelComentario > div{
  padding: 0 !important;
}

.toolbarContainer{
  padding: 5px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-bottom: none;
}
.richTextToolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  padding: 0 !important;
  border: none !important;
}