@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary and Surface Palettes */
:root {
  outline: none !important;
  --p-primary-50: var(--p-surface-50);
  --p-primary-100: var(--p-surface-100);
  --p-primary-200: var(--p-surface-200);
  --p-primary-300: var(--p-surface-300);
  --p-primary-400: var(--p-surface-400);
  --p-primary-500: var(--p-surface-500);
  --p-primary-600: var(--p-surface-600);
  --p-primary-700: var(--p-surface-700);
  --p-primary-800: var(--p-surface-800);
  --p-primary-900: var(--p-surface-900);
  --p-primary-950: var(--p-surface-950);
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f5f5f5;
  --p-surface-200: #e5e5e5;
  --p-surface-300: #d4d4d4;
  --p-surface-400: #a3a3a3;
  --p-surface-500: #737373;
  --p-surface-600: #525252;
  --p-surface-700: #404040;
  --p-surface-800: #262626;
  --p-surface-900: #171717;
  --p-surface-950: #0a0a0a; 
  --p-content-border-radius: 6px;

  --plyr-color-main: var(--p-primary-700);
}
html{
  @apply bg-zinc-100;
  /* modo oscuro: zinc-800 */
}

/* Light Mode */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: light;
  }
}

.entrada-default::after{
  content: "";
  @apply block h-[1px] mt-7 mb-7 
  /* bg-gray-200  */ /* Fondo color */ 
  /* bg-gradient-to-r from-white via-gray-200 to-white; */ /* Fondo gradient */ 
}
.container-small{
  max-width: 640px;
  @apply px-4 md:px-0 mx-auto;
}

.focus\:ring-surface-500:focus{
  --tw-ring-opacity: 0 !important;
}

#editorContainer #toolbar{
  display: flex;
}

.link{
  color: blue;
  text-decoration: none;
}
.link:hover{
  text-decoration: underline;
}
.link:visited{
  color: purple;
}

/* estilos links vieja escuela */
.prose a, .listaArchivos a{
  color: blue;
  text-decoration: none;
  font-weight: unset;
}
.prose a:hover, .listaArchivos a:hover{
  text-decoration: underline;
}
.listaArchivos a:hover>.filesize{
  text-decoration: none;
}
.prose a:visited, .listaArchivos a:visited{
  color: purple;
}

.prose iframe, .ql-editor iframe{
  @apply w-full aspect-video;
}
.prose img{
  @apply w-full;
  @media (min-width: 640px) {
    max-height: 50vh;
    object-fit: contain;
  }
}
.prose img:hover{
  @apply cursor-zoom-in;
}

/* Imagenes en editor de entrada */
.ql-snow .ql-editor{
  img {
    max-width: 90% !important;
  }
  img:hover{
    cursor: unset;
  }
  a{
    color: blue;
    text-decoration: none !important;
    font-weight: unset;
  }
  a:hover{
    text-decoration: underline;
  }
  a:visited{
    color: purple;
  }
}
  

#opciones-nav{
  .active{
    @apply font-bold;
  }
}

.caja-input{
  @apply leading-none m-0 py-2 px-3 rounded-md text-surface-800 placeholder:text-surface-400  bg-surface-0 border border-surface-300 invalid:focus:ring-red-200 invalid:hover:border-red-500 hover:border-surface-400 focus:outline-none focus:outline-offset-0 focus:ring-1 focus:ring-zinc-500 focus:z-10 appearance-none transition-colors duration-200;
}

form label{
  @apply font-mono;
}
.ql-editor {
  @apply prose prose prose-headings:my-1 leading-normal max-w-none;
  overflow: none;
  
}
.mention{
  color: blue;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.ql-mention-list-container{
  z-index: 1000;
  @apply bg-white p-1 border border-solid border-zinc-100;
  .ql-mention-list-item {
    @apply p-1 cursor-pointer hover:bg-zinc-100;
    &.selected{
      @apply bg-zinc-100;
    }
    .mention-item{
      @apply flex items-center;
      .mention-iniciales, .mention-avatar{
        @apply w-6 h-6 mr-1;
      }
      .mention-iniciales{
        @apply bg-black text-white text-center;
        font-size: .5rem;
        align-content: center;
      }
    }
  }
}
.ql-toolbar{
  @apply bg-white;
}
.ql-container {
  @apply bg-white;
  max-width: unset;
  font-family: unset !important;
  border-top: none !important;
  overflow-y: auto;
}
.comment-input{
  .ql-container{
    @apply bg-white;
    overflow: visible;
  }
}

.actions{
  @apply flex flex-row items-end justify-start;  
}

.actions > button:first-child{
  @apply pl-0;
}
.panelComentario > div{
  padding: 0 !important;
}

.toolbarContainer{
  padding: 5px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-bottom: none;
}
.richTextToolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  padding: 0 !important;
  border: none !important;
}
ol{
  list-style-type: unset !important;
}

.logoContainer{
  max-width: 64px;
  max-height: 64px;
}

/* Imagen de galery */
.pswp__img{
  /* En caso de png con transparencia le aplico fondo blanco */
  background: #fff;
}

/* styles.css */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.loaded {
  opacity: 1;
}

.entrada-biblioteca .prose img{
  display: none;
}

.lista-salas .router-link-active{
  @apply bg-zinc-100;
  pointer-events: none;
}

.texto-cargando{
  @apply bg-gradient-to-r bg-clip-text  text-transparent 
  from-zinc-200 via-zinc-700 to-zinc-200
  animate-text;
}
.kbd{
 @apply px-2 py-1.5 text-sm  text-gray-900 bg-gray-100 border border-gray-300 rounded-lg font-mono;
}